<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="creation">
    <h1> Create Template</h1>
    <form method="post" action="/templates/add/" th:object="${temp}">
        Header
        <input type="text" th:field="*{header}"/><br/><br/>
        Title
        <input type="text" th:field="*{title}"/><br/><br/>
        Description
        <input type="text" th:field="*{description}"/><br/><br/>

        <input type="submit" value="Save"/>
    </form>
</div>

</body>
</html>