<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CodeCouple Newsletter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/global.css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/mq.css" th:href="@{/css/mq.css}"/>
</head>
<body>
<header class="col-12">
    <div class="col-3" >
        <img src="../../static/images/logo.jpg" th:src="@{/images/logo.jpg}"/>
    </div>
    <div class="col-9">
        <h1 th:name="header" th:utext="${temp.header}">Header</h1>
    </div>
</header>
<section>
    <div class="container" id="mail-template">
        <div class="col-12">
            <h3 th:name="title" th:utext="${temp.title}">title</h3>
        </div>
        <div class="col-12 line"></div>
        <div class="col-12">
            <p th:name="description" th:utext="${temp.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas ligula nec urna ullamcorper, ac luctus diam rutrum. Proin mollis condimentum mauris, vel faucibus sem. Donec arcu lectus, interdum vel tortor eget, egestas posuere dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vel eleifend dolor. Proin eros arcu, porttitor non pellentesque sagittis, euismod sit amet eros. Nunc id tincidunt justo. Aenean ac leo arcu. Maecenas placerat erat sit amet odio blandit congue. Aliquam eu gravida ligula. Sed rutrum augue at sem sodales, ut maximus odio vulputate. Morbi dui ligula, pulvinar vel elit nec, tristique sodales sem. Nunc turpis lorem, feugiat quis porttitor ut, accumsan non magna. Curabitur consectetur tortor sed est ultrices, at faucibus quam posuere. Curabitur sit amet lorem tincidunt, auctor tellus a, sagittis ipsum.

                Nam in facilisis dui. Nulla non ante ligula. Etiam viverra sed quam vitae viverra. Donec fermentum eros vitae elit sodales hendrerit. Aenean quis nisi efficitur, vulputate enim et, euismod quam. Mauris gravida diam nec tincidunt commodo. Ut pellentesque justo urna, id lacinia odio convallis dignissim.</p>
        </div>
    </div>
</section>
<footer>
    <p>Copyright Codedool</p>
</footer>
</body>
</html>