<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Item</title>
</head>
<body>
<div class="creation">
    <form th:method="put" action="#" th:action="@{/templates/edit/} + ${{toUpdate.id}}" th:object="${temp}">
        Product Name
        <input type="text" th:value="${toUpdate.header}" name="header"/><br/><br/>
        Description
        <input type="text" th:value="${toUpdate.title}" name="title" /><br/><br/>
        Manufacturer
        <input type="text" th:value="${toUpdate.description}" name="description" /><br/><br/>

        <input type="submit" value="Update"/>
    </form>
</div>

</body>
</html>
